body {
  font-family: 'Nunito', sans-serif;
}

.nav-link:hover {
  color: #ea1c2c !important;
}

.navbar {
  top: 0;
  left: 0;
  z-index: 10;
  font-size: 1.4rem;
  font-weight: 100;
  background: rgba(222, 192, 222, 0.75);
  .navbar-brand {
    font-size: 1.4rem;
  }
}
.navbar.top {
  background: transparent;
}
// Section Slogan
#slogan {
  h1 {
    font-size: 4rem;
    font-weight: 200;
  }
}

// Utilities
.section-info-heading {
  font-weight: 200;
  font-size: 1.8rem;
}

.section-info-content {
  font-weight: 100;
  font-size: 1.2rem;
}
@media (max-width: 1200px) {
  #slogan h1 {
    font-size: 3rem;
  }
}

// Section About
#about {
  h2,
  p {
    font-weight: 200;
  }
}
